In [21]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [22]:
df = pd.read_csv(r"C:\Users\ISMAIL\OneDrive\Documents\data science projects\cleaned_dataset_AOPR.csv")

In [23]:
df.head()

,id,brand,categories,dateAdded,name,reviews.rating,reviews.text,reviews.title,reviews.username
0,AVpe7AsMilAPnD_xQ78G,Amazon,"Amazon Devices,mazon.co.uk",2016-03-08 20:21:53+00:00,Kindle Paperwhite,5,initially trouble deciding paperwhite voyage r...,"Paperwhite voyage, no regrets!",Cristina M
1,AVpe7AsMilAPnD_xQ78G,Amazon,"Amazon Devices,mazon.co.uk",2016-03-08 20:21:53+00:00,Kindle Paperwhite,5,allow preface little history casual reader own...,One Simply Could Not Ask For More,Ricky
2,AVpe7AsMilAPnD_xQ78G,Amazon,"Amazon Devices,mazon.co.uk",2016-03-08 20:21:53+00:00,Kindle Paperwhite,4,enjoying far great reading original fire since...,Great for those that just want an e-reader,Tedd Gardiner
3,AVpe7AsMilAPnD_xQ78G,Amazon,"Amazon Devices,mazon.co.uk",2016-03-08 20:21:53+00:00,Kindle Paperwhite,5,bought one first paperwhites pleased constant ...,Love / Hate relationship,Dougal
4,AVpe7AsMilAPnD_xQ78G,Amazon,"Amazon Devices,mazon.co.uk",2016-03-08 20:21:53+00:00,Kindle Paperwhite,5,say upfront dont like coroporate hermetically ...,I LOVE IT,Miljan David Tanic

In [26]:
# Drop rows with NaN values in the 'reviews.text' column
df.dropna(subset=['reviews.text'], inplace=True)

In [38]:
# Extract the review text column
reviews = df['reviews.text'].tolist()
vectorizer = CountVectorizer(max_features=3000, min_df=5, stop_words='english', ngram_range=(1, 2), binary=True, lowercase=True)
dtm = vectorizer.fit_transform(reviews)

In [39]:
feature_names = vectorizer.get_feature_names_out()
dtm_df = pd.DataFrame(dtm.toarray(), columns=feature_names)

In [40]:
df_transformed = pd.concat([df, dtm_df], axis=1)

df_transformed.head()

,id,brand,categories,dateAdded,name,reviews.rating,reviews.text,reviews.title,reviews.username,ability,...,youre,youre comparing,youre limited,youre listening,youre looking,youre thinking,youtube,youtube hdx,youtube video,youtube videos
0,AVpe7AsMilAPnD_xQ78G,Amazon,"Amazon Devices,mazon.co.uk",2016-03-08 20:21:53+00:00,Kindle Paperwhite,5.0,initially trouble deciding paperwhite voyage r...,"Paperwhite voyage, no regrets!",Cristina M,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AVpe7AsMilAPnD_xQ78G,Amazon,"Amazon Devices,mazon.co.uk",2016-03-08 20:21:53+00:00,Kindle Paperwhite,5.0,allow preface little history casual reader own...,One Simply Could Not Ask For More,Ricky,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AVpe7AsMilAPnD_xQ78G,Amazon,"Amazon Devices,mazon.co.uk",2016-03-08 20:21:53+00:00,Kindle Paperwhite,4.0,enjoying far great reading original fire since...,Great for those that just want an e-reader,Tedd Gardiner,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AVpe7AsMilAPnD_xQ78G,Amazon,"Amazon Devices,mazon.co.uk",2016-03-08 20:21:53+00:00,Kindle Paperwhite,5.0,bought one first paperwhites pleased constant ...,Love / Hate relationship,Dougal,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AVpe7AsMilAPnD_xQ78G,Amazon,"Amazon Devices,mazon.co.uk",2016-03-08 20:21:53+00:00,Kindle Paperwhite,5.0,say upfront dont like coroporate hermetically ...,I LOVE IT,Miljan David Tanic,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
df_transformed.to_csv('transformed_dataset1.csv', index=False)